{% extends "website/base.html" %}
{% block contents %}
<style>
body{
  background-color: #263238;
}
</style>
<div class="section"></div>
<main>
  <center>
    
    <div class="section"></div>
    {% if loginerror %}
    <h5 class="red-text">Error. Username or Password incorrect</h5>
    {% endif %}
    <h5 class="white-text">Please, login into your account</h5>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form class="col s12" method="post" action="">
            {% csrf_token %}
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='email' name='email' id='email' />
              <label for='email'>Enter your email</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='password' name='password' id='password' />
              <label for='password'>Enter your password</label>
            </div>
            <label style='float: right;'>
              <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
            </label>
          </div>

          <br />
          <center>
            <div class='row'>
              <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect green lighten'>Login</button>
            </div>
          </center>
        </form>
      </div>
    </div>
    <a href="{% url 'signup' %}">Create account</a>
  </center>

  <div class="section"></div>
  <div class="section"></div>
</main>

{% endblock %}


